$accordion-title-padding: 20px 25px !default;
$accordion-title-color: #fff !default;
$accordion-title-color-hover: #fff !default;
$accordion-title-font-size: 24 !default;
$accordion-title-font-weight: normal !default;
$accordion-title-background: #000 !default;
$accordion-title-background-hover: lighten($accordion-title-background, 30) !default;
$accordion-content-inner-padding: 35px 20px !default;

.accordion-item {
	padding-bottom: 4px;

	&:last-child {
		padding-bottom: 0;
	}
}

.accordion-title {
	display: block;
	padding: $accordion-title-padding;
	margin-bottom: 0;
	line-height: 1;
	font-size: pixel($accordion-title-font-size);
	font-weight: $accordion-title-font-weight;
	color: $accordion-title-color;
	position: relative;
	background-color: $accordion-title-background;
	cursor: pointer;
	transition: color 0.4s ease, background-color 0.4s ease;

	span.neos-inline-editable {
		display: block;
	}
	&:hover {
		color: $accordion-title-color-hover;
		background-color: $accordion-title-background-hover;
	}
	&:focus {
		color: $accordion-title-color;
	}

	&::after {
		@extend %ico;
		content: $ico-arrow-down;
		position: absolute;
		display: block;
		font-size: 1rem;
		right: 25px;
		transform-origin: center center;
		transition: transform 0.4s ease;
		top: 50%;
		// translateZ is a Bugfix for the iOS
		//transform: translateY(-50%) translateZ(1px);
		transform: translateY(-50%) translateZ(1px) rotate(0deg);
	}

	.accordion-item-active & {
		&::after {
			//transform: translateY(-50%) translateZ(1px);
			transform: translateY(-50%) translateZ(1px) rotate(180deg);
			//content: $ico-arrow-up;
		}
	}
}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease;

	.neos-accordion-backend & {
		max-height: inherit;
	}
}

.accordion-content-inner {
	padding: $accordion-content-inner-padding;
}

.neos-accordion-plugin-title {
	cursor: pointer;
	padding: 10px 25px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	background: repeating-linear-gradient(
			45deg,
			#606dbc,
			#606dbc 10px,
			#465298 10px,
			#465298 20px
	);
}
