$accordion-title-padding: 20px 25px !default;
$accordion-title-color: #fff !default;
$accordion-title-color-hover: #fff !default;
$accordion-title-font-size: 24 !default;
$accordion-title-font-weight: normal !default;
$accordion-title-background: #000 !default;
$accordion-title-background-hover: lighten($accordion-title-background, 30) !default;
$accordion-content-inner-padding: 35px 20px !default;
$accordion-content-inner-padding-top: 35px !default;
$accordion-content-inner-padding-bottom: 35px !default;
$accordion-content-inner-padding-x: 20px !default;

.accordion-item {
	padding-bottom: 4px;

	&:last-child {
		padding-bottom: 0;
	}
}

.accordion-title {
	display: block;
	padding: $accordion-title-padding;
	margin-bottom: 0;
	line-height: 1;
	font-size: pixel($accordion-title-font-size);
	font-weight: $accordion-title-font-weight;
	color: $accordion-title-color;
	position: relative;
	background-color: $accordion-title-background;
	cursor: pointer;
	transition: color 0.4s ease, background-color 0.4s ease;

	.neos-inline-editable {
		display: block;
	}

	&:hover {
		color: $accordion-title-color-hover;
		background-color: $accordion-title-background-hover;
	}

	&:focus {
		color: $accordion-title-color;
	}

	&::after,
	&::before {
		content: '';
		border-radius: 2px;
		display: block;
		width: 25px;
		height: 3px;
		position: absolute;
		top: 50%;
		right: 25px;
		transition: .3s;
		transform: translateY(-50%) translateZ(1px);
		background: $accordion-title-color;
	}

	&::after {
		transform: translateY(-50%) translateZ(1px) rotate(90deg);
	}

	.accordion-item-active & {
		&::before {
			transform: translateY(-50%) translateZ(1px) rotate(180deg);
		}

		&::after {
			transform: translateY(-50%) translateZ(1px) rotate(-180deg);
		}
	}
}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease;

	.neos-accordion-backend & {
		max-height: inherit;
	}
}

.accordion-content-inner {
	padding-left: $accordion-content-inner-padding-x;
	padding-right: $accordion-content-inner-padding-x;
	margin-top: $accordion-content-inner-padding-top;
	margin-bottom: $accordion-content-inner-padding-bottom;
}

.neos-accordion-plugin-title {
	cursor: pointer;
	padding: 10px 25px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	background: repeating-linear-gradient(
			45deg,
			#606dbc,
			#606dbc 10px,
			#465298 10px,
			#465298 20px
	);
}
